.App {
  text-align: center;
  background-color: antiquewhite;
}

.container{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar{
  text-align: center;
  padding: 10px;
}

.navbar li {
  
  display: inline-block;
  padding: 10px;
}
.nav_bar_link{
  color: #282c34;
  text-decoration: none;
}
.nav_bar_link:hover{
  color: rebeccapurple;
  text-decoration: none;
}
.project{
  display: flex;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
